<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Rewrite to dist">
          <match url="(.*)" />
          <conditions >
            <add input="{REQUEST_FILENAME}" pattern="^/dist/.*" negate="true" />
          </conditions>
          <action type="Rewrite" url="/dist/{R:1}" />
        </rule>
        <rule name="AngularJS Routes">
          <match url="/dist/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/dist/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> 