<div class="container">
    <md-toolbar color="primary">
        Jesse-Young.net
    </md-toolbar>
    <div class="app-content">
        <md-card>
            <md-card-title>Contact Address:</md-card-title>
            <md-card-content>
                {{contactInfo?.Street}} <br /> {{contactInfo?.City}}, {{contactInfo?.State}} {{contactInfo?.Zip}} <br />                {{contactInfo?.PhoneNumber}}
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>Objective</md-card-title>
            <md-card-content>
                {{objective?.Paragraph}}
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>Education</md-card-title>
            <md-card-content>
                {{education?.University}} <br /> Major : {{education?.Major}} <br /> Graduation: {{education?.GraduationMonth}} {{education?.GraduationYear}}
            </md-card-content>
        </md-card>

        <h2 md-subheader>Skills</h2>
        <div class="experience">
            <md-card *ngFor="let s of skills">
                <md-card-title>{{s.Title}}</md-card-title>
                <md-card-content>
                    {{s.Skill}}
                </md-card-content>
            </md-card>    
        </div>
        
        <h2 md-subheader>Experience</h2>
        <div class="experience">
            <md-card *ngFor="let p of professionalExperience">
                <md-card-title>{{p.Company.Name}} {{p.Company.City}}, {{p.Company.State}}</md-card-title>
                <md-card-content>
                    <b>{{p.Title}}</b> <br /> {{p.StartDate }} - {{p.EndDate}}
                    <ul>
                        <li *ngFor="let t of p.Tasks">
                            <p>
                                {{t}}
                            </p>
                        </li>
                    </ul>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>